 
 <!-- <div class="arrow-down"></div>
 
 <div class="arrow-down2"></div> -->

 <br>
 <!-- <div *ngIf="errorflag" class="alert alert-danger" role="alert">
  {{errormessage}} cannot be greater than 60
</div> -->
 <div class="row">
   <div class="col-md-6 text-center" >
    <h3>Quant</h3>
   </div>

   <div class="col-md-6 text-center">
    <h3>Verbal</h3>
   </div>

 </div>
 <div class="row">
  
  <div class="col">
    <label>
      Current
    </label> &nbsp;
    <input [ngClass]="(errorcurrentquant)?'my-class1':'my-class2'" type="number"  min="0" oninput="validity.valid||(value='');"
     #currentquant  name="currentquant" >
    <br>
    <span *ngIf="errorcurrentquant" class="error">Current cannot be greater than 60 </span>
  </div>
  <div class="col">
    <label>
      Target
    </label>&nbsp;
    <input [ngClass]="(errortargetquant)?'my-class1':'my-class2'" 
    #targetquant  name="targetquant" type="number"  min="0" oninput="validity.valid||(value='');" >
    <br>
    <span *ngIf="errortargetquant" class="error">Target cannot be greater than 60 </span>
  </div>


  <div class="col"> <label>
    Current
  </label>&nbsp;
  <input  type="number"  min="0" oninput="validity.valid||(value='');"  [ngClass]="(errorcurrentverbal)?'my-class1':'my-class2'" 
  #currentverbal  name="currentverbal" >
  <br>
  <span *ngIf="errorcurrentverbal" class="error">Current cannot be greater than 60 </span>
</div>
  <div class="col"> <label>
    Target
  </label>&nbsp;
  <input  type="number"  min="0" oninput="validity.valid||(value='');"  [ngClass]="(errortargetverbal)?'my-class1':'my-class2'" 
   #targetverbal  name="targetverbal">
   <br>
  <span *ngIf="errortargetverbal" class="error">Target cannot be greater than 60 </span>
  </div>
</div>

<br>

<div class="row justify-content-center text-center">
  <button type = "submit" style="border-radius: 25px 25px 25px 25px;" (click)="addHero(currentquant.value,targetquant.value,currentverbal.value,targetverbal.value)" class="btn btn-primary "> Submit and refresh</button>
  </div>
  <span *ngIf="nullcheck"   class="error"> No values can be null!!</span>

<br>


<div  id="display">



<div class="row" style="background-color: #DCDCDC	; height: 100%; width:1000px;">
    <app-overall></app-overall>
</div>
<br>

<div class="row">
  <div class="col-md-5">
<app-quant [targetquantgraph]="targetquantgraph" [currentquantgraph]="currentquantgraph"></app-quant>
  </div>
  <div class="vl col-md-1">

  </div>
  <div class="col-md-5">
  
<app-verbal [targetverbalgraph]="targetverbalgraph" [currentverbalgraph]="currentverbalgraph"></app-verbal>
  </div>

</div>
<!-- <div class="total" [style.width.px]="100">
 <div class="target" [style.width.px]='targetquantgraph'>
   <div class="current" [style.width.px]="currentquantgraph">
   </div>
 </div>
</div> -->

</div>
<div class="clearFix"></div>